@model Portal.Models.Blog

@{
    ViewBag.Title = "Blog";
}

<h2>@Model.Name</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Количество плюсов</th>
            <th>Количество минусов</th>
        </tr>
    </thead>
    @foreach (Portal.Models.Article article in Model.Articles) {
        <tr>
            <td>@Html.ActionLink(article.Name, "index", "articles", new { @id = article.ID }, null)</td>
            <td>@article.Date_of_creation</td>
            <td>@article.Likes_count</td>
            <td>@article.Dislikes_count</td>
        </tr>
    }
    
</table>

