<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Icons.css")
    @Styles.Render("~/Content/BlogStyles.css")
    @Styles.Render("~/Content/CourseStyles.css")
    @Styles.Render("~/Content/PersonStyles.css")
    @Styles.Render("~/Content/LoginStyles.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse portal-navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home", null)"><img src="~/images/ico.png" style="float: left; padding-right: 17px;" /></a>
                @Html.ActionLink("ABBYY Portal", "Index", "Home", null, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Блоги", "index", "blogs")</li>
                    <li>@Html.ActionLink("Курсы", "index", "Courses")</li>
                    <li>@Html.ActionLink("Люди", "index", "persons")</li><li>
                    <li>@Html.ActionLink("Программы", "index", "programs")</li>
                    @if(User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Администратор", "adminTable", "admin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderBody()
    <hr />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/ratingClick.js")
    @RenderSection("Scripts", required: false)
</body>
</html>
