@using Portal.Models
@model CourseInstance
@{
    ViewBag.Title = Model.BaseCourse.Name + " " + Model.Year;
}

<div class="container-fluid">
    <div class="container course-wrap">
        <div class="course">
            <div class="course-header">
                <h2>@Model.BaseCourse.Name @Model.Year</h2>
                @if( User.IsInRole( "admin" ) || Model.BaseCourse.Teachers.Where( t => t.UserName == User.Identity.Name ).FirstOrDefault() != null ) {
                    <div class="course-actions">
                        <div class="course-settings dropdown">
                            <div class="course-settings-btn" data-toggle="dropdown"><img class="icon" src="~/images/icons/settingsIcon.png" />Действия</div>
                            <ul class="dropdown-menu course-settings-menu">
                                @if( User.IsInRole( "admin" ) ) {
                                    <li><img class="icon" src="/images/icons/settignsPointIcon.png" />@Html.ActionLink( "Удалить", "Remove", new { @id = Model.ID, @courseId = Model.BaseCourse.ID, cameFromCoursePage = false }, new { @class = "course-menu-item" } )</li>
                                }
                                <li><img class="icon" src="/images/icons/settignsPointIcon.png" />@Html.ActionLink( "Редактировать", "Edit", new { @id = Model.ID, @courseId = Model.BaseCourse.ID, cameFromCoursePage = false }, new { @class = "course-menu-item" } )</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="course-blogs">
                @if( Model.BaseCourse.Blogs.Count != 0 ) {
                    <div>
                        Блоги:
                        @foreach( Blog blog in @Model.BaseCourse.Blogs ) {
                            @Html.ActionLink( blog.Name + " ", "blog", "blogs", null, null )
                        }
                    </div>
                }
            </div>
            <div class="course-programm">
                <div class="course-grade">
                    @if( Model.BaseCourse.Grade != null ) {
                        <div>
                            @Model.BaseCourse.Grade курс
                        </div>
                    }
                </div>
                <div class="course-basepart">
                    @if( @Model.BaseCourse.BasePart == "KL" ) {
                        <div>
                            КЛ
                        </div>
                    }
                    @if( @Model.BaseCourse.BasePart == "RIOT" ) {
                        <div>
                            РИОТ
                        </div>
                    }
                    @if( @Model.BaseCourse.BasePart == null ) {
                        <div>
                            КЛ и РИОТ
                        </div>
                    }
                </div>
            </div>
            <div class="course-description">
                @Model.AdditionalDescription
            </div>

            <div class="course-lesson-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Ссылка</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( Portal.Models.Lesson lesson in Model.Lessons ) {
                            <tr>
                                <td style="word-break: break-word;">@lesson.Name</td>
                                <td>@lesson.Description</td>
                                <td style="word-break: break-word;"><a href="@lesson.Links">@lesson.Links</a></td>
                                @if( Model.BaseCourse.Teachers.Where( t => User.Identity.Name == t.UserName ).FirstOrDefault() != null || User.IsInRole( "admin" ) ) {
                                    <td><a href=@Url.Action("editLesson", new { @id = lesson.ID, courseInstanceId = Model.ID })><span class="glyphicon glyphicon-pencil" style="color: black;"></span></a></td>
                                        <td><a href=@Url.Action("removeLesson", new { @lessonId = lesson.ID, courseInstanceId = Model.ID })><span class="glyphicon glyphicon-remove" style="color: black;"></span></a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if( Model.BaseCourse.Teachers.Where( t => User.Identity.Name == t.UserName ).FirstOrDefault() != null || User.IsInRole( "admin" ) ) {
                using( Html.BeginForm( "AddLesson", "CourseInstances", new { @id = Model.ID }, FormMethod.Post ) ) {
                    <div class="course-add-lesson">
                        <h4>Добавить новый урок:</h4>
                        <input class="course-add-lesson-input" type="text" placeholder="Название урока" name="Name" />
                        <input class="course-add-lesson-input" type="text" placeholder="Описание" name="Description" />
                        <input class="course-add-lesson-input" type="text" placeholder="Ссылка на материалы" name="Links" />
                        <input class="btn add-comment-button" type="submit" value="Создать новый урок" />

                    </div>
                }
            }
            @if( Model.BaseCourse.Teachers.Where( c => c.UserName == User.Identity.Name ).FirstOrDefault() != null || User.IsInRole( "admin" ) ) {
                <div class="course-list-of-students">
                    <input type="checkbox" id="hd" class="hide" />
                    <label for="hd"><span>Список студентов</span> <span class="glyphicon glyphicon-chevron-down" style="font-size: 10px;"></span></label>
                    <div class="course-students-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ФИО</th>
                                    <th>Телефон</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach( Person student in Model.Students ) {
                                    <tr>
                                        <td>@student.Second_Name @student.First_Name</td>
                                        <td><a class="course-student-info-link" href="tel:@student.PhoneNumber">@student.PhoneNumber</a></td>
                                        <td><a class="course-student-info-link" href="mailto:@student.Email">@student.Email</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="mailto:@ViewBag.MailToAll" class="btn btn-default">Написать всем студентам</a>
                    </div>
                </div>
            }
        </div>
    </div>
