@using Portal.Models
@model CourseInstanceCreateEdit

@{
    ViewBag.Title = "Edit course instance";
}

<div class="container-fluid">
    <div class="container course-create-wrap">
        @using( Html.BeginForm( "Edit", "CourseInstances", new { @courseId = ViewBag.CourseId }, FormMethod.Post ) ) {
            @Html.HiddenFor( m => m.ID )
            @Html.HiddenFor( m => m.BaseCourse.ID )

            <h4>Год</h4>
            @Html.EditorFor( m => m.Year )
            @Html.ValidationMessageFor( m => m.Year )

            <h4>Дополнительное описание</h4>
            @Html.EditorFor( m => m.AdditionalDescription )
            @Html.ValidationMessageFor( m => m.AdditionalDescription )

            <h4>Место проведения</h4>
            @Html.EditorFor( m => m.Place )
            @Html.ValidationMessageFor( m => m.Place )

            <h4>Дата зачета/экзамена </h4>
            @Html.EditorFor( m => m.Report_Date );
            @Html.ValidationMessageFor( m => m.Report_Date )
            @Html.HiddenFor( m => m.ID )
            <div>
                <h4>Выберите студентов</h4>
                <table class="table">
                    <tbody>
                        @for( int i = 0; i < Model.Students.Count(); i++ ) {
                            <tr>
                                <th>
                                    @Html.CheckBoxFor( m => m.Chosen_Students[i] )
                                </th>
                                <th>
                                    <img src=@Model.Students[i].Picture.URL>
                                </th>
                                <th>
                                    @Model.Students[i].First_Name @Model.Students[i].Middle_Name @Model.Students[i].Second_Name
                                </th>
                                <th>
                                    @Model.Students[i].UserName
                                    @Html.HiddenFor( m => m.Students[i].Id )
                                    @Html.HiddenFor( m => m.Students[i].First_Name )
                                    @Html.HiddenFor( m => m.Students[i].Second_Name )
                                    @Html.HiddenFor( m => m.Students[i].Middle_Name )
                                    @Html.HiddenFor( m => m.Students[i].UserName )
                                    @Html.HiddenFor( m => m.Students[i].Picture.URL )
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <input type="submit" value="Изменить" />

        }
    </div>
</div>
