@using Portal.Models
@model Person

@{
    ViewBag.Title = Model.First_Name + " " + Model.Second_Name + " edit";
}

@using (Html.BeginForm("edit", "persons", new { @id = Model.Id }, FormMethod.Post))
{
    <div class="container person-wrap">
        <div class="person">
            <div class="person-general-info">
                <div class="person-general-info-image">
                    @if (Model.Picture.URL == null)
                    {
                        <img src="/images/genel.jpg" />
                    }
                    else
                    {
                        <img src=@Model.Picture.URL />
                    }
                </div>
                <div class="person-info-text">
                    <div class="person-edit-field">
                        @Html.EditorFor(m => m.First_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Имя" } })
                    </div>
                    <div class="person-edit-field">
                        @Html.EditorFor(m => m.Middle_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Отчество" } })
                    </div>
                    <div class="person-edit-field">
                        @Html.EditorFor(m => m.Second_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Фамилия" } })
                    </div>
                    @if (Model.Person_Type == "Teacher")
                    {
                        <div class="person-type">Преподаватель</div>
                    }
                    else
                    {
                        <div class="person-type">Студент</div>
                    }
                    <div class="person-contacts">
                        @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Номер телефона" } })<br />
                        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Электронная почта" } })
                    </div>
                </div>
            </div>
            <div>@Html.EditorFor(m => m.Picture.URL, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "URL фотографии" } })</div>
        </div>

        <div class="person-edit-buttons">
            <input class="btn person-edit-button" type="submit" value="Сохранить" />
            @Html.ActionLink("Отменить", "person", "persons", new { @id = Model.Id }, new { @class = "btn person-edit-cancel-button" })
        </div>
    </div>
}
