@using Portal.Models
@model Person
@{
    ViewBag.Title = Model.First_Name + " " + Model.Second_Name + " edit";
}

   

    <div class="container person-wrap">
    @using( Html.BeginForm( "edit", "persons", new { @id = Model.Id }, FormMethod.Post, new { @style = "display:inline" } ) ) {
            <div class="person">

            <div class="person-general-info">
                <div class="person-general-info-image" style="cursor:pointer">
                    
                        @if( Model.Picture.URL == null ) {
                            <img src="/images/genel.jpg" />
                        } else {
                            <img src=@Model.Picture.URL />
                        }
                        
                        <input type="file" name="upload" />
                   
                </div> 
        
                <div class="person-info-text">
                    <div class="person-edit-field">
                        @Html.EditorFor( m => m.First_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Имя" } } )
                    </div>
                    <div class="person-edit-field">
                        @Html.EditorFor( m => m.Middle_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Отчество" } } )
                    </div>
                    <div class="person-edit-field">
                        @Html.EditorFor( m => m.Second_Name, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Фамилия" } } )
                    </div>
                    @if( Model.Person_Type == "Teacher" ) {
                        <div class="person-type">Преподаватель</div>
                    } else {
                        <div class="person-type">Студент</div>
                    }
                    <div class="person-contacts">
                        @Html.EditorFor( m => m.PhoneNumber, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Номер телефона" } } )<br />
                        @Html.EditorFor( m => m.Email, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "Электронная почта" } } )
                    </div>
                </div>

            </div>
            <div class="person-image-url">@Html.EditorFor( m => m.Picture.URL, new { htmlAttributes = new { @class = "person-edit-name-input", @placeholder = "URL фотографии" } } )</div>
        </div>
        }
        <div class="person-edit-buttons">
            <input class="btn person-edit-button" type="submit" value="Сохранить" />
            @Html.ActionLink( "Отменить", "person", "persons", new { @id = Model.Id }, new { @class = "btn person-edit-cancel-button" } )
        </div>
    </div>
@section scripts{
<script type="text/javascript">
    //Нажав на "Загрузить файл" переводим на нажатие input
    $('.person-general-info-image img').on('click', function () {
        $('input').click();
    });
    //когда указываем путь к файлу сробатывае функц. Send
    //которая формирует объект FormData
    //для последующей передачи на сервер
    $("input").on('change', function Send() {
        var files = this.files;
        if (files.length == 1) {
            //выстреливаем сообщение о неподдержке браузера
            //Html5 при отрицательном результате
            if (window.FormData !== undefined) {
                var imgData = new FormData();
                //Добавляем к объекту наш файл
                imgData.append("file", files[0]);
                //Добавляем к объекту сообщение об успешной загрузке
                //(это просто для того что бы вы увидели как
                //передавать несколько данных)
                imgData.append("success", "Файл успешно загружен!");

                //Ajax запрос
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("upload","persons")',
                    contentType: false,
                    processData: false,
                    data: imgData, //передаем файл на сервер
                    success: function (data) {
                        //берем атрибут src и вставляем в него
                        //ссылку на изображение, которая возвращается
                        //Json(,) в контроллере
                        $('.person-general-info-image img').attr('src', '/personsImages/' + data[0]);
                        $('.login-user-img-link-image img').attr('src', '/personsImages/' + data[0]);
                        $('.person-image-url input').attr('value', '/personsImages/' + data[0])
                        //выводим текст полученный с сервера
                        //об успешной загрузке
                        $('.text').text(data[1]);
                       // $('#linkupload').hide();
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Ваш браузер не поддерживает Html5!");
            }
        }
    });
</script>

}
