@using Portal.Models
@model Person

@{
    ViewBag.Title = Model.First_Name + " " + Model.Second_Name;
}

<div class="container person-wrap">
    <div class="person">
        <div class="person-general-info">
            <img src=@Model.Picture.URL />
            <div class="person-info-text">
                <div class="person-name">@Model.First_Name @Model.Second_Name</div>
                    @if (Model.Person_Type == "Teacher")
                    {
                        <div class="person-type">Преподаватель</div>
                    }
                    else
                    {
                        <div class="person-type">Студент</div>
                    }
                <div class="person-contacts">
                    <a href="tel:@Model.PhoneNumber"><span>@Model.PhoneNumber</span></a>
                    <a href="mailto:@Model.Email"><span>@Model.Email</span></a>
                </div>
            </div>
        </div>
        @if (Model.Person_Type == "Teacher")
        {
            <div class="person-blogs">
                <h4>Блоги</h4>
                @foreach (Blog blog in Model.Blogs)
                {
                    <div class="person-blog">
                        @Html.ActionLink(blog.Name, "blog", "blog", new { @id = blog.ID }, null)
                    </div>
                }
            </div>
        }
        <div class="person-courses">
            @if (Model.Person_Type == "Teacher")
            {
                <h4>Преподаваемые курсы</h4>
                foreach (Course course in Model.Taught_Courses)
                {
                    <div class="person-course">
                        @Html.ActionLink(course.Name, "course", "courses", new { @id = course.ID }, null)
                    </div>
                }
            }
            else
            {
                <h4>Посещаемые курсы</h4>
                foreach (Course course in Model.Subscribed_Courses)
                {
                    <div class="person-course">
                        @Html.ActionLink(course.Name, "course", "courses", new { @id = course.ID }, null)
                    </div>
                }
            }
        </div>
    </div>
</div>

