@using Portal.Models
@model Course
@{
    ViewBag.Title = Model.Name + " course";
}
<div class="container-fluid">
    <div class="container course-wrap">
        <div class="course">
            <div class="course-header">
                <h2>@Model.Name</h2>
                @if( User.IsInRole( "admin" ) || Model.Teachers.Where( t => t.UserName == User.Identity.Name ).FirstOrDefault() != null ) {
                    <div class="course-actions">
                        <div class="course-settings dropdown">
                            <div class="course-settings-btn" data-toggle="dropdown"><img class="icon" src="~/images/icons/settingsIcon.png" />Действия</div>
                            <ul class="dropdown-menu course-settings-menu">
                                @if( User.IsInRole( "admin" ) ) {
                                    <li><img class="icon" src="/images/icons/settignsPointIcon.png" />@Html.ActionLink( "Удалить", "Delete", "Courses", new { @id = Model.ID }, new { @class = "course-menu-item" } )</li>
                                }
                                <li><img class="icon" src="/images/icons/settignsPointIcon.png" />@Html.ActionLink( "Редактировать", "Edit", "Courses", new { @id = Model.ID }, new { @class = "course-menu-item" } )</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="course-description">
                <div class="course-blogs">
                    Блоги:
                    @foreach( Blog blog in Model.Blogs ) {
                        @Html.ActionLink( blog.Name + " ", "blog", "blogs", null, null )
                    }
                </div>
                @Model.Description
            </div>
            <h4>Учителя:</h4>
            <div class="course-teachers">
                @foreach( Person teacher in Model.Teachers ) {
                    <a class="course-teacher no-link-attributes" href=@Url.Action("person", "persons", new { @id = teacher.Id })>
                        <div class="course-teacher-image"><img src=@teacher.Picture.URL /></div>
                        <div>@teacher.First_Name @teacher.Second_Name</div>
                    </a>
                }
            </div>
        </div>

        <div class="course-lesson-list">
            <table class="table">
                <thead>
                    <tr>
                        <th>Год</th>
                        <th>Описание</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( Portal.Models.CourseInstance courseInstance in Model.CourseInstances ) {
                        <tr>
                            <td style="word-break: break-word;"><a>@Html.ActionLink( @courseInstance.Year.ToString(), "CourseInstance", "CourseInstances", new { @year = courseInstance.Year, @id = courseInstance.ID }, null )</a></td>
                            <td>@courseInstance.AdditionalDescription</td>
                            @if( Model.Teachers.Where( t => User.Identity.Name == t.UserName ).FirstOrDefault() != null || User.IsInRole( "admin" ) ) {
                                <td><a href=@Url.Action("Edit", "CourseInstances", new { @id = courseInstance.ID, courseId = Model.ID, cameFromCoursePage = true } )><span class="glyphicon glyphicon-pencil" style="color: black;"></span></a></td>
                                <td><a href=@Url.Action("Remove", "CourseInstances", new { @id = courseInstance.ID, courseId = Model.ID, cameFromCoursePage = true })><span class="glyphicon glyphicon-remove" style="color: black;"></span></a></td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if( User.IsInRole( "admin" ) || Model.Teachers.Where( t => t.UserName == User.Identity.Name ).FirstOrDefault() != null ) {
    using( Html.BeginForm(  Model.ID.ToString() + "/Create", "CourseInstances", FormMethod.Get ) ) {
        <button type="submit" class="add-course-button" value="+">
            <img src="~/images/icons/addButton.png" />
        </button>
    }
}
