@using Portal.Models
@model Course

@{
    ViewBag.Title = "Create course";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Courses", null, FormMethod.Post))
{
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <div class="dropdown" id="TeachersId" >
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Teachers <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (Person p in ApplicationDbContext.Create().Users)
            {
                if (p.Person_Type == "Teacher")
                {
                    <li><a href="#"> @p.UserName @p.First_Name @p.Second_Name @p.Middle_Name </a></li>
                }
            }
        </ul>
    </div>
    <input type="submit" value="Create" />
}
