@using Portal.Models
@model CourseCreateEdit

@{
    ViewBag.Title = "Create";
    List<Person> users = ApplicationDbContext.Create().Users.ToList();
}

<h2>Введите данные курса</h2>

@using (Html.BeginForm("Create", "Courses", null, FormMethod.Post))
{
    <h4>Название курса</h4>
    @Html.EditorFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <h4>Описание курса</h4>
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
    <h4>Число занятий</h4>
    @Html.EditorFor(m => m.Number_of_Classes)
    @Html.ValidationMessageFor(m => m.Number_of_Classes)
    <h4>Количество часов</h4>
    @Html.EditorFor(m => m.Number_of_Hours)
    @Html.ValidationMessageFor(m => m.Number_of_Hours)
    <h4>Место проведения</h4>
    @Html.EditorFor(m => m.Place)
    @Html.ValidationMessageFor(m => m.Place)
    <h4>Тип отчетности</h4>
    @Html.EditorFor(m => m.Report_Type);
    @Html.ValidationMessageFor(m => m.Report_Type)
    <h4>Дата зачета/экзамена </h4>
    @Html.EditorFor(m => m.Report_Date);
    @Html.ValidationMessageFor(m => m.Report_Date)
    <div>
        <h4>Выберите учителей</h4>

            @foreach (Tuple<Person,bool> t in Model.Teachers )
            {
                if (t.Item1.Person_Type == "Teacher")
                {
                    <div>
                        <img src=@t.Item1.Picture.URL width="40" height="40">
                    </div>
                    <div>
                        @Html.CheckBox(@t.Item1.Id, @t.Item2) @( t.Item1.First_Name + " " + t.Item1.Second_Name + " " + t.Item1.Middle_Name) <br />
                        <label> @t.Item1.UserName</label>
                        @Html.HiddenFor(m => m.Teachers);
                    </div>

                }
            }

    </div>
    <div>
        <h4>Выберите учителей</h4>

        @foreach (Tuple<Person, bool> t in Model.Students)
        {
            if (t.Item1.Person_Type == "Student")
            {
                <div>
                    <img src=@t.Item1.Picture.URL width="40" height="40">
                </div>
                <div>
                    @Html.CheckBox(@t.Item1.Id, @t.Item2) @( t.Item1.First_Name + " " + t.Item1.Second_Name + " " + t.Item1.Middle_Name) <br />
                    <label> @t.Item1.UserName</label>
                </div>

            }
        }
    </div>
    <input type="submit" value="Create" />
}
