@model Portal.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="login-page-wrap">
    <div class="login-form-wrap">
        <div class="login-form">
            <h2>Welcome to ABBYY Portal</h2>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.TextBoxFor(m => m.UserName, new { @class = "login-text-input", placeholder = "email" })
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.PasswordFor(m => m.Password, new { @class = "login-text-input", placeholder = "password" })
                @Html.ValidationMessageFor(m => m.Password)

                <input type="submit" value="Sign in" class="btn login-form-button login-sign-in-button" />
                <a href=@Url.Action("register", "account") class="btn login-form-button login-sign-up-button">Sign up</a>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}