@model Portal.Models.Article

@{
    @Styles.Render("~/Content/BlogStyles.css")
}

<div class="container article-wrap">
    <div class="article-preview">
        <div class="article-header">
            <div class="author">
                <img class="img-circle" src=@Model.Author.Picture.URL />
                @Model.Author.First_Name @Model.Author.Second_Name
            </div>
            <div class="date">@Model.Date_of_Creation</div>
            <div class="article-actions">
                <div class="rating">
                    <div class="rating-plus"><img class="icon" src="~/images/icons/plusIcon.png" />@Model.Likes_Count</div>
                    <div class="rating-minus"><img class="icon" src="~/images/icons/minusIcon.png" />@Model.Dislikes_Count</div>
                </div>
                <div class="article-settings dropdown">
                    <div class="btn" data-toggle="dropdown"><img class="icon" src="~/images/icons/settingsIcon.png" />Settings</div>
                    <ul class="dropdown-menu">
                        <li>Delete</li>
                        <li>Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>@Model.Name</h3>
        <p>@Model.Text.Substring(0, (Model.Text.Length > 500) ? 500 : Model.Text.Length)...</p>
        <a>@Html.ActionLink("Read more...", "Index", "Articles", new { @id = Model.ID }, new { @class = "" })</a>
    </div>
</div>
