@model Portal.Models.Article

@{
    @Styles.Render("~/Content/BlogStyles.css")
}

<div class="container article-wrap">
    <div class="article-preview">
        <div class="article-header">
            <div class="author">
                <img class="img-circle" src="~/images/1.jpg" />
                @Model.Authors.FirstOrDefault().First_Name @Model.Authors.FirstOrDefault().Second_Name
            </div>
            <div class="date">@Model.Date_of_Creation</div>
            <div class="article-actions">
                <div class="rating">
                    <div><span>+</span> @Model.Likes_Count</div>
                    <div><span>-</span> @Model.Dislikes_Count</div>
                </div>
                <div class="article-settings dropdown">
                    <div class="btn" data-toggle="dropdown">Settings</div>
                    <ul class="dropdown-menu">
                        <li>Delete</li>
                        <li>Edit</li>
                    </ul>
                </div>
            </div>
        </div>
        <h2>@Model.Name</h2>
        <p>@Model.Text.Substring(0, (Model.Text.Length > 500) ? 500 : Model.Text.Length)...</p>
        <a>@Html.ActionLink("Read more...", "Index", "Articles", new { @id = Model.ID }, new { @class = "" })</a>
    </div>
</div>
