@using Portal.Models
@model Article
@{
    ViewBag.Title = "Create article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="container article-wrap">
        <div class="article">
            <div class="article-header">
                <a class="author no-link-attributes" href=@Url.Action("person", "persons", new { @id = Model.Author.Id })>
                    <img class="img-circle" src=@Model.Author.Picture.URL />
                    @Model.Author.First_Name @Model.Author.Second_Name
                </a>
                <div class="date">@DateTime.Now</div>
            </div>

            <form action="~/Articles/@ViewBag.BlodID/Create" method="post">
                @Html.EditorFor( m => m.Name, new { htmlAttributes = new { @class = "h2 add-comment-input" } } ) @Html.ValidationMessageFor( m => m.Name )<br />
                @Html.EditorFor( m => m.Text, new { htmlAttributes = new { @class = "add-comment-input", @style = "height: 300px" } } ) @Html.ValidationMessageFor( m => m.Text )<br />
                <input class="btn add-comment-button" type="submit" value="Создать" />
            </form>
        </div>
    </div>
</div>
