@using Portal.Models
@model Article
@{
    ViewBag.Title = "Edit article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="container article-wrap">
        <div class="article">
            <div class="article-header">
                <a class="author no-link-attributes" href=@Url.Action("person", "persons", new { @id = Model.Author.Id })>
                    <img class="img-circle" src=@Model.Author.Picture.URL />
                    @Model.Author.First_Name @Model.Author.Second_Name
                </a>
                <div class="date">@DateTime.Now</div>
            </div>

            <form action="~/Articles/@Model.ID/Edit" method="post" id="article">
                @Html.EditorFor( m => m.Name, new { htmlAttributes = new { @class = "required h2 add-comment-input", @name="articleName", @placeholder = "Enter article name" } } ) @Html.ValidationMessageFor( m => m.Name )<br />
                @Html.EditorFor( m => m.Text, new { htmlAttributes = new { @class = "required add-comment-input",@name="articleText", @style = "height: 300px", @placeholder = "Enter article text" } } ) @Html.ValidationMessageFor( m => m.Text )<br />
                <div class="symbolsCounter">@Model.Text.Length /4000 symbols</div>
                <div class="documents" id="uploadedDocs">
                        @foreach( Document doc in @Model.Documents ) {
                            <div class="document" id=@doc.Name>
                                <a href="@doc.URL">@doc.Name</a>
                                @Html.ActionLink( "x", "DeleteDocument", "articles", new { @actionType = "edit", @id = doc.Id, @articleId=Model.ID  }, new { @class = "delete-doc" } )
                            </div>    
                        }
                </div>
                <div class="documents-upload" id="Docs" style="cursor:pointer">
                    <p>Прикрепить файлы</p>
                    <input type="file" name="upload-doc" id=@("DocUpload" + Model.ID) onChange= "OnDocumentLoad('@Url.Action( "Upload", "Articles")','@Model.ID')" />
                </div>                
                <input class="btn add-comment-button" type="submit" value="Редактировать" />
            </form>
        </div>
    </div>
</div>

@section scripts{
@Scripts.Render( "~/bundles/jqueryval" )
@Scripts.Render( "~/Scripts/documentLoad.js" )
<script type="text/javascript">
    $(function () {
        $("textarea[id='Text']").keydown(function count() {
            number = $("textarea[id='Text']").val().length;
            $("div[class ='symbolsCounter']").text(number + "/4000 symbols");
           
        });
    });
</script>

<script type="text/javascript">
    //Переводим на нажатие input
    $('.documents-upload p').on('click', function () {
        $('input[name="upload-doc"]').click();
    });
</script>
}