@model Portal.Models.Article
<div class="container-fluid">
    <div class="container article-wrap">
        <div class="article">
            <div class="article-header">
                <div class="author"><img class="img-circle" src=@Model.Author.Picture.URL />
                @Model.Author.First_Name @Model.Author.Second_Name</div>
                <div class="date">@Model.Date_of_Creation</div>
                <div class="article-actions">
                    <div class="rating">
                        <div class="rating-plus"><img class="icon" src="~/images/icons/plusIcon.png" />@Model.Likes_Count</div>
                        <div class="rating-minus"><img class="icon" src="~/images/icons/minusIcon.png" />@Model.Dislikes_Count</div>
                    </div>
                    <div class="article-settings dropdown">
                        <div class="article-settings-btn" data-toggle="dropdown"><img class="icon" src="~/images/icons/settingsIcon.png"/>Settings</div>
                        <ul class="dropdown-menu article-settings-menu">
                            <li>Delete</li>
                            <li>Edit</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h2>@Model.Name</h2>
            <p>@Model.Text</p>
        </div>
        
        @foreach (Portal.Models.Comment comment in Model.Comments) {
            <div class="comment">
                <div class="comment-header">
                    <div class="author">
                        <img class="img-circle" src=@comment.Author.Picture.URL />
                        @comment.Author.First_Name @comment.Author.Second_Name
                    </div>
                    <div class="date">commented on @comment.Create_Time</div>
                </div>
                <p>@comment.Text</p>
            </div>
        }

        <div class="add-comment comment">
            <div class="comment-header">
                <div class="author">
                    <img class="img-circle" src=@Model.Author.Picture.URL />
                    @User.Identity.Name
                </div>
            </div>

            <input class="add-comment-input" type="text" placeholder="Leave your comment..."/>
            <button class="btn add-comment-button">Send</button>
        </div>
    </div>
</div>
