@using Portal.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model Person[]

@{
    ApplicationDbContext db = new ApplicationDbContext();
    var userManager = new ApplicationUserManager( new UserStore<Person>( db ) );
}

@Html.Partial( "_Search", @"Persons" )

<div class="container person-wrap">
    <div class="person-part-name">@ViewBag.Title</div>
    @foreach( Portal.Models.Person person in Model ) {
        <div class="person-preview">
            @if( person.Person_Type == "Student" ) {
                <div class="person-student-name">
                    @Html.ActionLink( person.Second_Name + ' ' + person.First_Name, "index", "admin", new { @id = person.Id }, new { @class = "person-student-name-text" } )
                    @if (person.Is_Waiting_Approval)
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red" title="Пользователь ожидает подтверждения роли учителя"></span>
                    }
                </div>
            } else {
                <a class="person-admin-name">
                    @person.Second_Name @person.First_Name 
                    @if (person.Is_Waiting_Approval)
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:red" title="Пользователь ожидает подтверждения роли учителя"></span>
                    }
                </a>
            }

            <div class="admin-buttons">
                @using( Html.BeginForm( "ChangeType", "Admin", new { id = person.Id }, FormMethod.Post, new { @class = "admin-form" } ) ) {
                    <input class="role-edit-button" type="submit" value=@person.Person_Type />
                }

                @using( Html.BeginForm( "ChangeRole", "Admin", new { id = person.Id }, FormMethod.Post, new { @class = "admin-form" } ) ) {
                            if( userManager.IsInRole( person.Id, "editor" ) ) {
                        <input class="role-edit-button" type="submit" value="editor" />
                    }
                    if( userManager.IsInRole( person.Id, "admin" ) ) {
                        var countAdmin = 0;
                        var allPersons = db.Users.Where( pp => true == pp.Exists ).ToArray();
                        foreach( var _p in allPersons ) {
                            if( userManager.IsInRole( _p.Id, "admin" ) ) {
                                countAdmin += 1;
                            }
                        }
                        if( countAdmin == 1 ) {
                            <input class="role-edit-button" type="submit" disabled value="admin" style="cursor: not-allowed" />
                        } else {
                            <input class="role-edit-button" type="submit" value="admin" />
                        }

                    }
                    if( userManager.IsInRole( person.Id, "user" ) ) {
                        <input class="role-edit-button" type="submit" value="user" />
                    }
                }

                @using( Html.BeginForm( "Delete", "Admin", new { id = person.Id }, FormMethod.Post, new { @class = "admin-form" } ) ) {
                            if( person.UserName == User.Identity.Name ) {
                        <input class="delete-button" type="submit" disabled value="Delete" style="cursor: not-allowed" />
                    } else {
                        var countAdmin = 0;
                        var allPersons = db.Users.Where( pp => true == pp.Exists ).ToArray();
                        foreach( var _p in allPersons ) {
                            if( userManager.IsInRole( _p.Id, "admin" ) ) {
                                countAdmin += 1;
                            }
                        }
                        if( ( countAdmin == 1 ) && ( userManager.IsInRole( person.Id, "admin" ) ) ) {
                            <input class="delete-button" type="submit" disabled value="Delete" style="cursor: not-allowed" />
                        } else {
                            <input class="delete-button" type="submit" value="Delete" />
                        }
                    }
                }
            </div>
        </div>
    }
</div>
